<% @short_url.errors.full_messages.each do |message| %>
  <span style="color:red"><%= message %></span>
<% end %>

<%= form_for @short_url do |f| %>
  <%= f.text_field :original_url, placeholder: "Your original URL here" %>
  <%= f.submit "Shorten URL" %>
<% end %>

<br />

<table>
  <tr>
    <th>Original URL</th><th> Short URL</th>
  </tr>
  <% @short_urls.each do |short_url| %>
    <tr>
      <td>
        <%= link_to short_url.original_url, short_url.original_url %>
      </td>
      <td>
        <%= link_to "#{root_url}#{short_url.short_url}", "#{root_url}#{short_url.short_url}" %>
      </td>
    </tr>
  <% end %>
</table>
