<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>URL Shortener</h1>
    <hr>
    <% flash.each do |_, value| %>
      <span style="color:red">
        <%= value %>
      </span>
    <% end %>
    <%= yield %>
    <div id="footer">
      <%= link_to "Santosh Wadghule", "http://mechanicles.com", target: "_blank" %> ❘ Made URL Shortener with <span>❤</span>
    </div>
  </body>
</html>
